<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}

  {% block body_block %}
    <title>Elysian Coder</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <h1>Elysian Coder</h1>
    <h1>(adj.) Divinely inspired; Peaceful and Elegant Programmer</h1>

    <div class="container">
      <h2>Yugen</h2>
        <div class="row">
          <div class="col-lg-4 col-xs-6 thumbnail"><img src="https://unsplash.com/photos/Uq3gTiPlqRo" alt=""></div>
        </div>
    </div>

  {% endblock %}
